#navi-anchor {
	display: none;
	width: 0;
	height: 0;
}

#nav-bars {
    display: inline-block;
    float: right;
    margin: 8px 15px 8px 0px;
    .stripe {
        width: 18px;
        height: 3px;
        background: #cc0000;
        margin-bottom: 3px;
        transform-origin: left;
        transition: .3s linear all;
    }
}
.nav-container {
	position: relative;
}
.main-navigation {
	clear: both;
	position: absolute;
	z-index: 999;
	display: block;
	float: left;
	top: -33px;
	width: 100%;
	min-height: 34px;
	label {
		display: block;
	}

	ul {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s linear all;
		list-style: none;
		margin: 0;
		padding-left: 0;
		position: absolute;
		width: 100%;
		height: auto;
		z-index: 999;
		background: #fff;
		top: 100%;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
            opacity: 0;
            visibility: hidden;
			left: auto;
            transition: .3s ease-in-out all;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					opacity: 1;
                    visibility: visible;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
            opacity: 1;
            visibility: visible;
            top: calc(100% + 30px);
		}
	}

	li {
		float: left;
		position: relative;
		width: 100%;
		text-align: center;
		&:hover > a,
		&.focus > a {
            color: $color__text-main;
		}

	}

	a {
		display: block;
		color: #000;
		text-decoration: none;
		font-size: 15px;
    font-weight: bold;
		line-height: 2em;
		&:visited {
			color: #000;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
        color: $color__main;
	}
}

/* Small menu. */
#navi-anchor:checked ~ div > ul {
    opacity: 1;
    visibility: visible;
}

#navi-anchor:checked ~ #nav-bars {
    position: absolute;
    z-index: 99999;
    right: 0px;
    .stripe {
        background-color: #cc0000;
    }
    .stripe:nth-child(1) {
        transform: rotate(45deg);
    }
    .stripe:nth-child(2) {
        opacity: 0;
    }
    .stripe:nth-child(3) {
        transform: rotate(-45deg);
    }
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.main-navigation {
		position: relative;
		z-index: 99;
        margin-top: 3px;
		#nav-bars {
			display: none;
		}
        a {
            position: relative;
            transition: .3s linear all;

        }
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		opacity: 1;
		padding-top: 0px;
		visibility: visible;
		position: static;
		background: transparent;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;

		li {
			width: auto;
			&:before {
				content: " ";
				height: 30px;
				width: 100%;
				position: absolute;
				top: 100%;
				left: 0;
			}
			a {
				line-height: 36px;
			}
		}
        ul {
            width: auto;
            flex-flow: row wrap;
            height: auto;
            background-color: #fff;
						padding: 0px 10px;
            li {
                margin-left: 0px;
            }
        }
	}
}
