#colophon {
  //height:100%;
  padding: 25px 0px 25px;
  width:100%;
  color: #fff;
  background: $color__main-2;
  .textwidget {
    font-size: 14px;
  }
  h4.footer-widget-title {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
    position: relative;
    text-transform: uppercase;
  }

  .es_textbox_class {
    width: 75%;
    background: #ccc;
    border-radius: 0 !important;
  }

  p {
    margin-bottom: .5rem;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }


  h5 {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 12px;

  }
  .es_widget_form {
    p {
      margin-bottom: 1em;
    }
    span.email {
      input {
        width: 75%;
        color: $color__text-main;
        &::-webkit-input-placeholder {
          color: $color__text-main;
        }
        &::-moz-placeholder {
          color: $color__text-main;
        }
        &:-ms-placeholder {
          color: $color__text-main;
        }
      }
    }
    .ajax-loader {
      display: none;
    }
    .btn-submit {
      background: $color__main-1;
      color: #fff;
      font-weight: bold;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }
  ul.cnss-social-icon li.cn-fa-icon a {
    padding: 0 !important;
    background: none !important;
    width: auto !important;
    height: auto !important;
  }
}
#colophon ul li:before {
    color: #990000;
    font-family: FontAwesome;
    font-size: 9px;
    position: relative;
    top: -3px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
}
#colophon .footer-bar .contact-list ul li {
  font-size: 14px;
  color: #fff7e2; }
  #colophon .footer-bar .contact-list ul li:before {
    width: 1.2em;
    color: #fff;
    font-size: 17px;
    position: static; }
  #colophon .footer-bar .contact-list ul li.home {
    text-transform: uppercase; }
    #colophon .footer-bar .contact-list ul li.home:before {
      content: ""; }
  #colophon .footer-bar .contact-list ul li.address:before {
    content: ""; }
  #colophon .footer-bar .contact-list ul li.phone:before {
    content: ""; }
  #colophon .footer-bar .contact-list ul li.email:before {
    content: ""; }
  #colophon .footer-bar .contact-list ul li.website:before {
    content: ""; }
#copyright {
  background: #000;
  text-align: center;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  padding: 5px;
  img {
    display: inline-block;
    vertical-align: middle;
  }
  padding: 5px;
  img {
    display: inline-block;
    vertical-align: middle;
  }

}
