#masthead {
    background: #fff;
    .logo-container {
        font-size: 0px;
    }
    .nav-container {
        @media screen and (min-width: #{$breakpoint_tablet}) {
            margin-top: 1.6em;
        }
        .top-bar {
            p {
                margin-bottom: 0px;
                text-align: right;
                i {
                    margin-left: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
    @media screen and (max-width:#{$breakpoint_tablet}) {
        padding-top:0px;
        .logo-container {
            margin-top: 44px;
            .mui--text-right {
                text-align: center !important;
            }
        }
        
    }
}


