
body.home #masthead {
    padding-top: 12px;
    position: absolute;
    z-index: 9999;
    min-width: 100%;
}

#masthead {
    
    .logo-container {
        font-size: 0px;
    }
    .nav-container {
        @media screen and (min-width: #{$breakpoint_tablet}) {
            margin-top: 1.2em;
        }
        .top-bar {
            font-size: 14px;
            margin-bottom: .7em;
            p {
                margin-bottom: 0px;
                @media screen and (min-width #{$breakpoint_tablet}) {
                    text-align: right;
                }
                i {
                    margin-left: 15px;
                    margin-right: 5px;
                }
            }
        }
    }
    @media screen and (max-width:#{$breakpoint_tablet}) {
        padding-top:0px;
        .logo-container {
            margin-top: 44px;
            text-align: center;
            
        }
        .mui--text-right {
                text-align: center !important;
            }
    }
}


