#masthead {
    background: #fff;
    padding: 25px 0px 20px;
    @media screen and (max-width:#{$breakpoint_tablet}) {
        padding-top:0px;
        .logo-container {
            margin-top: 44px;
            .mui--text-right {
                text-align: center !important;
            }
        }
    }
}


