$bg: #f3f3f3;
.section-4 {
  background: $bg;
  padding-top: 20px;
  padding-bottom: 20px;
    @media screen and (min-width: #{$breakpoint_tablet}) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    h2.section-title {
      text-align: center;
      width: 100%;
      font-size: 30px;
      color: #333;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      margin: 0px;
      margin-bottom: 45px;
      overflow: visible;
      &:before {
        content: " ";
        position: absolute;
        width: 86px;
        height: 4px;
        background: #900;
        bottom: -10px;
        left: calc(50% - 43px);
      }
    }
    h3 {
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        padding: 8px 22px;
        margin: 0px;
        text-transform: uppercase;
        background: $color__main;
        &:before {
            content: " ";
            position: absolute;
            top: 0px;
            right: 0px;
            border-right: 23px solid $bg;
            border-bottom: 27px solid $color__main;
        }

    }
    .front-section {
      margin-top: 20px;
      @media screen and (min-width: #{$breakpoint_desktop}) {
        margin-top: 0px;
      }
    }
    .news-lead-list {
      padding: 22px;
      margin-top: 14px;
      border: 1px solid #959595;
      .news-lead-item {
        float: left;
        a {
          text-decoration: none;
        }
        h4 {
          margin-top: 0px;
          font-size: 14px;
          font-weight: bold;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          float: left;
          margin-right: 8px;
          margin-bottom: 1.5em;
        }
        p {
          color: #333;
          text-align: justify;
        }
      }
      ul {
        clear: both;
        margin: 0;
        padding-left: 15px;
        color: #c00;
        li {
          a {
            color: #333;
            line-height: 2em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
}
