.section-1 {
  padding: 60px 0px 55px;
  background: url('./assets/images/sec-bg-1.png') top center / cover transparent;
  .card-layout {
    text-align: center;
    position: relative;
    padding: 0px 40px;
    h3 {
      font-size: 23px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #333;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 0px;
      color: #333;
    }
    @media screen and (min-width: $breakpoint_desktop) {
      & + .card-layout:before {
        content: " ";
        background: #999;
        position: absolute;
        width: 3px;
        height: 167px;
        left: 0px;
        top: calc(50% - 167px / 2);
      }
    }
  }
}
