.section-5 {
    background: #f3f3f3;
    > div > div {
        margin-left: -30px;
        margin-right: -30px;
    }
    @media screen and (min-width: #{$breakpoint_tablet}) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .section-header {
        p {
            font-family: Arial;
            font-size: 17px;
            color: #333;
            text-align: center;
        }
    }
    h2 {
        font-size: 22px;
        font-family: Futura;
        text-transform: uppercase;
        color: #333;
        text-align: center;
        margin-top: 5px;
        position: relative;
        margin-bottom: 12px;
        @media screen and (min-width: #{$breakpoint_tablet}) {
            font-size: 28px;
        }
        span {
            color: #0d4ba0;
        }
       
    }   
    .testimonals {
        .testimonial-item {
            margin-bottom: 27px;
            display: flex;
            .thumb {
                border-radius: 50%;
                border: 3px solid #039;
                font-size: 0px;
            }
            img {
                border-radius: 50%;
                max-width: none;
            }
            h5 {
                font-family: Futura;
                font-size: 20px;
                span {
                    font-size: 14px;
                }
            }
            blockquote {
                margin-left: 0px;
                margin-right: 0px;
                font-size: 15px;
                font-style: italic;
                color: #333;
            }
            .author {
                padding-left: 15px;
            }
        }
    }
    .ngg_images {
        h3 {
            display: none;
        }
        img {
            border: none;
            margin-right: 8px;
            margin-bottom: 8px;
            
        }
        a:nth-child(2n + 2) {
            img {
                margin-right: 0px;
            }
        }       
    }
}
