.section-2 {
  padding: 0px 15px 60px;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.73), rgba(0,0,0,.73)), url('./assets/images/section-2.png') no-repeat center center / cover transparent;
  background: -o-linear-gradient(bottom, rgba(0,0,0,.73), rgba(0,0,0,.73)), url('./assets/images/section-2.png') no-repeat center center / cover transparent;
  background: linear-gradient(to top, rgba(0,0,0,.73), rgba(0,0,0,.73)), url('./assets/images/section-2.png') no-repeat center center / cover transparent;

  h2.section-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
    @media screen and (min-width: #{$breakpoint_desktop}) {
      margin-bottom: 130px;
    }
    overflow: visible;
    &:before {
      content: " ";
      position: absolute;
      width: 90px;
      height: 3px;
      left: calc(50% - 45px);
      bottom: -15px;
      background: #fff;
    }
  }

  .textwidget {
    margin-bottom: 2em;
    @media screen and (min-width: #{$breakpoint_desktop}) {
      margin-bottom: 0em;
    }
    p {
      font-size: 27px;
      color: #fff;
      margin-bottom: 0px;
      img {
        margin-bottom: 15px;
      }
    }

  }
  .front-section {
    position: relative;
  }
  .front-section + .front-section + .front-section:before {
    content: " ";
    position: absolute;
    height: 80px;
    width: 1px;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #959595;
  }
}
@media screen and (min-width: #{$breakpoint_tablet}) {
    .section-2 {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 95px;
    }

}
