.section-2 {
  position: absolute;
  top:200%;
  height:100%;
  width:100%;
  background: url('./assets/images/sec-bg-2-1.png') no-repeat top right #fff;

  @media screen and (max-height: 686px) {
    min-height: 686px;
    top:calc(686px * 2);
  }

  > .mui-container {
    width: 100%;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .front-page-title {
    margin-left: 50%;
    width: 50%;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    color: $color__text_main;
    margin-bottom: 40px;
  }
  .big-show-item {
    display: flex;
    .thumb-container {
      flex-shrink: 0;
      flex-basis: 50%;
    }
    .news-container {
      flex-basis: 50%;
      text-align: center;
    }
    .news-title {
      margin-top: 0px;
      font-size: 14px;
      margin-bottom: 40px;
      background: $color__main-1;
      color: #fff;
    }
    .news-except {
      line-height: 2em;
      font-size: 13px;
      margin-bottom: 50px;
      color: $color__text_main;
    }
    .readmore {
      font-size: 13px;
      color: $color__text_main;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .owl-dots {
    width: 50%;
    margin-left: 50%;
    text-align: center;
    .owl-dot {
      width: 31px;
      height: 5px;
      margin: 0px 1.5px;
      background: #999;
      display: inline-block;
      &.active {
        background: $color__main-1;
      }
    }
  }
}
