.section-4 {
    @media screen and (min-width: #{$breakpoint_tablet}) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    h2 {
        font-size: 22px;
        font-family: Futura;
        text-transform: uppercase;
        color: #333;
        text-align: left;
        margin-top: 5px;
        position: relative;
        margin-bottom: 36px;
        @media screen and (min-width: #{$breakpoint_tablet}) {
            font-size: 28px;
        }
        span {
            color: #0d4ba0;
        }
        &:before {
            content: " ";
            position: absolute;
            bottom: -9px;
            width: 60px;
            left: 0px;
            height: 5px;
            background: #0d4ba0;
        }        
        
    }   
    
    .news-default-list {
        display: inline-block;
        width: 100%;
        .news-default-item {
            &:before {
                content: "\f04b";
                position: absolute;
                font-family: FontAwesome;
                font-size: 35px;
                z-index: 999;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);

            }
            margin-bottom: 11px;
            float: left;
            font-size: 0px;
            overflow: hidden;
            vertical-align: top;
            width: calc( 25% - 11px );
            margin-left: 11px;
            height: 163px;
            .entry-meta {
                display: none;
            }
            
            a {
                 text-decoration: none;
                .thumb-container {
                    img {
                        position: absolute;
                        max-width: none;
                        width: initial;
                        height: initial;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    } 
                }
                .news-container {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding-left: 15px;
                    background: rgba(0,0,0,.4);
                    h3 {
                        color: #fff;
                        line-height:1.4em;
                        font-size: 14px;
                        margin: 10px 0px;
                        font-weight: bold;
                    }
                    p {
                        margin-bottom: 0px;
                        font-size: 14px;
                        color: #333;
                        text-align: justify;
                    }
                }
            }
            &:first-child {
                &:before {
                    font-size: 60px;
                }
                height: 337px;
                width: calc( 50% - 18px );
                margin-left: 0;
                margin-right: 18px;
                .entry-meta {
                    display: inline-block;
                    font-size: 14px;
                    color: #fff;
                    font-style: italic;
                }
                a {
                    .news-container {
                        background: none;
                        z-index: 9;
                        padding-bottom: 15px;
                        h3 {
                            font-size: 20px;
                            line-height: 2.1em;
                            margin: 0px;
                        }
                    }
                }
                &:after {
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    background: linear-gradient(to top, rgba(50,50,50,1), transparent 31%, transparent 82%, rgba(50,50,50,.8));
                    bottom: 0;
                }
            }
        }
    }
}
