.section-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: #{$breakpoint_desktop}) {
    > div > .mui-row {
        margin-right: -30px;
        margin-left: -30px;
    }
  }

  h1.home-title {
      text-align: center;
      width: 100%;
      font-size: 30px;
      color: #333;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      margin: 0px;
      margin-bottom: 45px;
      &::before {
        content: " ";
        position: absolute;
        width: 86px;
        height: 4px;
        background: #900;
        bottom: -10px;
        left: calc(50% - 43px);
      }

  }
  h2.front-page-title {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  .card-layout .card-container {
    border: 1px solid #ccc;
    padding: 7px;
    padding-bottom: 0px;
    .card-image {
      text-align: center;
    }
    p {
      font-size: 13px;
      color: #333;
      text-align: center;
    }
    a {
      text-decoration: none;
      p {
        line-height: 38px;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        border-top: 1px solid #ccc;
        margin-left: -7px;
        margin-right: -7px;
        margin-bottom: 0px;
      }
    }
  }
  .card-layout {
    margin-top: 20px;
    @media screen and (min-width: #{$breakpoint_desktop}) {
      margin-top: 0px;
    }
    &.red a {
      p {
        background: #e82a2c;
      }
    }
    &.blue a {
      p {
        background: #0066ff;
      }
    }
    &.green a {
      p {
        background: #049808;
      }
    }
    &.orange a {
      p {
        background: #e07808;
      }
    }
  }
}


@media screen and (min-width: #{$breakpoint_tablet}) {
    .section-1 {
        padding-top: 40px;
        margin-bottom: 40px;
        position: relative;

      }
}
