.section-2 {
  padding: 27px 0px;
  .front-page-title {
    font-weight: 500;
    color: $color__main-2;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    &:before {
      content: " ";
      position: absolute;
      width: 77%;
      top: 50%;
      right: 0px;
      height: 4px;
      border-top: 1px dashed #999;
      border-bottom: 1px dashed #999;
    }
  }
  .news-default-item {
    .news-title {
      color: #333;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.5;
      margin-top: .5rem;
    }
  }
}
