.section-4 {
    @media screen and (min-width: $breakpoint_desktop) {
        padding: 45px 0px 65px;
    }
  background: linear-gradient(to bottom, rgba(0,0,0,.33), rgba(0,0,0,.33)), url('./assets/images/sec-bg-4.png') no-repeat center bottom / cover;
  background-attachment: fixed;
  .ngg-galleryoverview {
      margin-top: 50px;
      .ngg-gallery-thumbnail {
          margin: 0px;
          border: none;
          background: transparent;
          a {
              background: #fff;
          }
          
      }
        .ngg-gallery-thumbnail-box:nth-child(3n+1) {
            a {
                  margin-left: 0px;
            }
        }
        .ngg-gallery-thumbnail-box:nth-child(3n+3) {
            a {
                  margin-right: 0px;
            }
        }
  }
  h3.front-page-title {
      font-size: 30px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      margin-bottom: 55px;
      &:before {
          content: " ";
          position: absolute;
          width: 117px;
          height: 3px;
          background: $color__main-1;
          left: calc( 50% - 117px / 2 );
          bottom: -15px;
      }
  } 
  .testimonial-item {
      text-align: center;
      color: #fff;
      font-size: 15px;
      blockquote {
          margin-bottom: 35px;
      }
      h5 {
          font-weight: bold;
          text-transform: uppercase;
      }
  }
  .dots-nav {
       margin-top: 25px;
       display: flex;
       flex-flow: row nowrap;
       justify-content: center;
       .thumb {
           border-radius: 50%;
           width: 63px;
           font-size: 0;
           height: 63px;
           transform: scale(.7);
           transform-origin: center;
           border: 4px solid #999;
           transition: all .3s linear;
           cursor: pointer;
           overflow: hidden;
           img {
               border-radius: 50%;
           }
           &.active {
               transform: scale(1);
               border-color: $color__main-1;
           }
       }
  }
}
