.slide-section {
  [class^="amazingslider-swipe-box"]:after {
    content: " ";
    position: absolute;
    background: rgba(0,0,0,.43);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .as-btn-blue-medium {
    background: $color__main-1;
    transition: .3s linear all;
    &:hover {
      background: lighten($color__main-1,25%);
    }
    border-radius: 15px;
    font-size: 15px;
    line-height: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Arial;
    box-shadow: none;
  }
  [class^="amazingslider-nav"] {
    top: auto !important;
    bottom: 5%;

    [class^="amazingslider-bullet-wrapper"] [class^="amazingslider-bullet"] {
      border-radius: 50%;
      border: 2px solid #fff;
      background: transparent !important;
    }
    [class^="amazingslider-bullet-wrapper"]  [style*="left bottom"] {
      background: #fff !important;
    }
  }
}
