[class*="wonderpluginslider-container"] {
    overflow-x: hidden;
}
[class*="amazingslider-nav"] {
    top: auto !important;
    bottom: 30px;
    margin-top: 0px;
    [style*="left top"] {
        background-image: none !important;
        border-radius: 50%;
        background-color: #f3f3f3 !important;
    }
    [style*="left bottom"] {
        background-image: none !important;
        border-radius: 50%;
        background-color: #891307 !important;
    }
}

[class*="amazingslider-text-wrapper"] {
    left: calc(50% - 450px) !important;
    bottom: auto!important;
    top: 35%;
    [class*="amazingslider-text"] {
        > div {
            text-align: center;
            width: 100%;
        }
    }
}

.wonderpluginslider {
    [class*="amazingslider-arrow-left"] {
        left: calc(50% - 1170px / 2) !important;
    }
    [class*="amazingslider-arrow-right"] {
        right: calc(50% - 1170px / 2) !important;
    }
}
