@font-face  {
    src: url('./assets/fonts/UTM ANDROGYNE.TTF');
    font-family: Androgyne;
}
@font-face  {
    src: url('./assets/fonts/VNF-FUTURA REGULAR.TTF');
    font-family: Futura;
}

@font-face {
    src: url('./assets/fonts/UVNBAYBUOMHEP_N.TTF');
    font-family: BayBuom;
}

$vnb__font_main: 'Open Sans';
$vnb__font_special: Androgyne;

body, button, input, select, textarea {
    font-family: $vnb__font_main;
}
