body.woocommerce {
    #content {
        
        h1 {
            margin-top: 0px;
            color: $color__text-main;
            font-weight: bold;

        }
        ul.products {
            &:before {
                content: none !important;
            }
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            li {
                flex-basis: calc(100% / 3 - 29px * 2 / 3);
                flex-grow: 0;
                margin: 0px;
                border: 1px solid #ccc;
                margin-bottom: 34px;
                text-align: center;
                background: #fff;
                h2.woocommerce-loop-product__title {
                  font-size: 15px;
                  color: $color__text-main;
                  text-align: center;
                  margin-top: 15px;
                  padding: 0px;
                  margin-bottom: 15px;
                }
                .ajax_add_to_cart {
                    margin-bottom: 1.5em;
                    margin-top: 0px;
                    font-size: 14px;
                    font-family: Myriad;
                    text-align: center;
                      background: $color__main;
                      color: #fff;
                      border-radius: 18px;
                      padding: 6px 16px;
                }
            }
        }
    }
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    width: 38% !important;
    figure {
        margin: 0px;
        > div {
            padding: 20px 0px;
            border: 1px solid #ccc;
            background: #fff;
            text-align: center;
            a {
                display: inline-block;
            }
            img {
                width: auto;
            }
        }
    }
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 60% !important;
    margin-top: 0px;
}

.woocommerce span.onsale {
    background: $color__text-main;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {color: #333;}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    margin: 0px;
    &:before,&:after {
        content: none !important;
    }
    li {
        border-radius: 0px;
        &:before,&:after {
            content: none !important;
        }
    }
}
.woocommerce div.product .woocommerce-tabs .panel {
    background: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.woocommerce .related.products {
    h3 {
        color: $color__text-main;
        font-size: 14px;
        &:before {
            content: " ";
            position: absolute;
            width: 84px;
            height: 3px;
            background: #066fab;
            bottom: -5px;
            left: 0;
        }
    }
}
